body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, th, td, font {
    padding: 0;
    margin: auto;
}

ul, li {
    list-style-type: none;
}

.red {
    color: red;
}
.text-center {
    text-align:center;
}
body {
    font-size: 12px;
    margin: auto;
    padding: 0px;
    color: #808502;
    background: #f8f9f5;
    margin: auto;
    _margin: auto;
    padding: 0px;
    background-color: #fafbf9;
}

a {
    color: #808502;
    font-size: 12px;
    text-decoration: none;
}

.clear {
    clear: both;
}

img {
    display: inline;
    border: none;
    text-align: center;
}

.blank {
    HEIGHT: 20px;
    CLEAR: both;
    OVERFLOW: hidden;
}

.name {
    color: #808502;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 28px;
    font-family: "微软雅黑";
}

.zh {
    width: 110px;
    color: #808502;
    font-size: 13px;
}

.out a {
    width: 70px;
    color: #ffa800;
    text-decoration: none;
}

.top {
    width: 980px;
    height: 90px;
    margin: auto;
    overflow: hidden;
    padding-top: 28px;
    font-size: 12px;
    color: #808502;
    font-family: "微软雅黑";
    font-weight: normal;
}

    .top img {
        float: left;
        padding-left: 10px; margin-top:13px; margin-right:10px;
    }

    .top h2 {
        float: left;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 22px;
        font-family: "微软雅黑";
    }

    .top h3 {
        float: right;
        width: 167px;
        height: 25px;
        line-height: 18px;
        font-size: 14px;
        margin-top: 35px;
        background: url(images/shopping.gif) no-repeat;
        font-weight: normal;
        padding-left: 70px;
    }

        .top h3 span {
            color: #ff9c00;
            padding: 0px 5px;
            font-size: 16px;
            text-decoration: none;
        }


.navbg {
    width: 100%;
    height: 38px;
    margin: auto;
    overflow: hidden;
    background: #e7f3d0;
}

.nav {
    width: 980px;
    height: 38px;
    margin: auto;
    overflow: hidden;
}

    .nav ul {
        width: 800px;
        float: left;
    }

        .nav ul li {
            float: left;
            width: 96px;
            margin-right: 10px;
            color: #f00;
        }

            .nav ul li a {
                width: 96px;
                line-height: 38px;
                color: #44840b;
                font-size: 13px;
                font-family: "微软雅黑";
                text-align: center;
                display: block;
                text-decoration: none;
            }

                .nav ul li a:hover {
                    width: 96px;
                    color: #fff;
                    line-height: 38px;
                    background: url(images/nav.gif) 0 5px no-repeat;
                    display: block;
                    text-align: center;
                }

            .nav ul li .home_at {
                width: 96px;
                line-height: 38px;
                background: url(images/nav.gif) 0 5px no-repeat;
                text-align: center;
                color: #fff;
                display: block;
            }

                .nav ul li .home_at a {
                    color: #fff;
                }

    .nav span {
        color: #9fbe62;
        font-size: 12px;
        float: right;
        line-height: 38px;
    }

.banner_bg {
    width: 100%;
    height: 104px;
    margin: auto;
    overflow: hidden;
    background: #3b6218;
}

.banner {
    width: 1200px;
    height: 104px;
    margin: auto;
    overflow: hidden;
    background: url(images/banner01.gif) no-repeat;
}

    .banner h3 {
        float: left;
        width: 600px;
        font-size: 16px;
        color: #e7f3d0;
        line-height: 104px;
        padding-top: 20px;
        font-family: "微软雅黑";
    }

    .banner span {
        font-size: 30px;
        padding-right: 10px;
    }

.from {
    width: 980px;
    line-height: 26px;
    margin: auto;
    overflow: hidden;
    color: #808502;
    margin: 0px auto;
}

    .from span {
        float: left;
        font-weight: bold;
    }

.cpfl {
    float: left;
    font-size: 12px;
    line-height: 23px;
    color: #a0bb6a;
    text-decoration: none;
    height: 23px;
    border: 1px solid #b2c59e;
    width: 170px;
    font-family: "微软雅黑";
    padding-left: 5px;
}

.cpfl2 {
    float: left;
    font-size: 12px;
    line-height: 18px;
    color: #a0bb6a;
    text-decoration: none;
    height: 18px;
    border: 1px solid #b2c59e;
    font-family: "微软雅黑";
    width: 170px;
    padding-left: 5px;
}

.cpsousuo {
    float: left;
    width: 73px;
    height: 23px;
}

.spdh {
    line-height: 26px;
    font-size: 14px;
    color: #fff;
    font-family: "微软雅黑";
    text-align: center;
}

.spmenu {
    color: #63985a;
    font-size: 16px;
    font-family: "微软雅黑";
    line-height: 132px;
}

    .spmenu span {
        font-size: 14px;
        padding-left: 5px;
    }

.gg {
    line-height: 20px;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #98a578;
}

.price, .subtotal {
    line-height: 20px;
    margin-right: 3px;
    color: #f7915a;
}

.spoper {
    width: 79px;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #fff;
    text-align: center;
    text-decoration: none;
}

    .spoper a {
        color: #fff;
        text-decoration: none;
    }

        .spoper a:hover {
            color: #fff;
            text-decoration: underline;
        }


.footer {
    width: 980px;
    height: 100px;
    margin: auto;
    overflow: hidden;
    border-top: #428408 6px solid;
    font-size: 13px;
    color: #a4ad73;
    line-height: 50px;
    text-align: center;
    font-family: "微软雅黑";
}

.footeradmin {
    width: 100%;
    height: 100px;
    margin: auto;
    overflow: hidden;
    border-top: #428408 6px solid;
    font-size: 13px;
    color: #a4ad73;
    line-height: 50px;
    text-align: center;
    font-family: "微软雅黑";
}

.dl {
    color: #02720c;
    font-size: 18px;
    font-family: "微软雅黑";
}

.dl_left {
    color: #529250;
    font-size: 15px;
    font-family: "微软雅黑";
}

.city {
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: #93c138;
    text-decoration: none;
    height: 32px;
    border: 1px solid #dae7c0;
    width: 230px;
    font-family: "微软雅黑";
    padding: 5px 0px 5px 5px;
    margin: 0px 5px;
    margin-bottom: 8px;
}

.city1 {
    float: left;
    font-size: 12px;
    line-height: 19px;
    color: #a0bb6a;
    text-decoration: none;
    height: 19px;
    border: 1px solid #dae7c0;
    font-family: "微软雅黑";
    width: 224px;
    padding: 5px 0px 5px 5px;
    margin: 0px 5px;
    margin-bottom: 8px;
}

.city2 {
    float: left;
    font-size: 12px;
    line-height: 19px;
    color: #a0bb6a;
    text-decoration: none;
    height: 19px;
    border: 1px solid #dae7c0;
    font-family: "微软雅黑";
    width: 100px;
    padding: 5px 0px 5px 5px;
    margin: 0px 5px;
    margin-bottom: 12px;
}

.cpsousuo {
    float: left;
    width: 73px;
    height: 23px;
    margin: 0px 5px;
}

.login_wz {
    color: #99ba9a;
    font-size: 12px;
    padding-left: 15px;
}

.shop_num {
    color: #bfc299;
    margin-bottom: 5px;
    font-size: 16px;
    padding-left: 75px;
    font-family: "微软雅黑";
}

.shop_dh {
    width: 100%;
    height: 116px;
    margin: auto;
    overflow: hidden;
    border-top: 6px solid #3b6218;
    background: #e9f3e0;
}

.myshop {
    color: #35620e;
    font-size: 15px;
    text-decoration: none;
    font-family: "微软雅黑";
}

.goshop a {
    color: #ffa800;
    font-size: 15px;
    text-decoration: none;
    font-family: "微软雅黑";
}

.chanpin {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-family: "微软雅黑";
}

.chanpin_s {
    color: #5d9d4a;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    font-family: "微软雅黑";
}

.chanpin_xq {
    width: 980px;
    height: 141px;
    margin: auto;
    overflow: hidden;
    border-bottom: #e0e6cf 1px dashed;
}

.chanpin_xq1 {
    width: 980px;
    height: 96px;
    margin: auto;
    overflow: hidden;
    border-bottom: #e0e6cf 1px dashed;
    background: #f8f9f5;
}

.chanpin_xq2 {
    width: 980px;
    height: 147px;
    margin: auto;
    overflow: hidden;
    border-bottom: #e0e6cf 1px dashed;
}

.chanpin_xq3 {
    width: 980px;
    height: 75px;
    margin: auto;
    overflow: hidden;
    border-bottom: #e0e6cf 1px dashed;
}

.gyhxx_bt{ width: 980px; margin:auto; overflow:hidden; border-top:#3b6218 2px solid;}
.gyhxx_bt h1{ width:940px; padding:0px 20px; float:left; height:30px; line-height:30px; background:#e9f3e0; font-size:13px; color:#529b3b; font-weight:normal; font-family: "微软雅黑";}

.gyhxx{ width:980px; margin:auto; overflow:hidden; padding:20px 0px; border-bottom: #e0e6cf 1px dashed; font-family: "微软雅黑";}
.gyhxx_xz{ width:980px; float:left;}
.gyhxx_xz b{ font-size:16px; color:#5d9d4a; font-weight:normal; margin:0px 5px;}
.gyhxx_xz span{ font-size:12px; color:#89aa7f;}
.gyhxx_yhm{ width:248px; float:left; padding:0px 10px; height:32px; line-height:32px; border:#b7c5aa 1px solid; font-size:14px; color:#6e776b; margin:10px 0px 18px 25px; font-family: "微软雅黑";}

.gyhxx_jjg{ width:930px; float:left; margin-top:10px; padding:20px 25px; background:#fff;}

.gyjjg_lf{ float:left; width:180px;}
.gyjjg_lf span{ float:left; margin-right:10px; margin-top:50px;}
.chk_jjg{ display: none;} 
.chk_jjg + label {background-color: #fff;border: 1px solid #784646;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding:8px;display: inline-block;position: relative;}
.chk_jjg + label:active {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.chk_jjg:checked + label {background-color: #fff; border:1px solid #784646;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;}
.chk_jjg:checked + label:after {content:'\2714';position:absolute; top:0px; left:0px; color:#784646; width: 100%;text-align:center; font-size:12px; line-height:18px;}

.gyjjg_lf h1{float:left; font-size:12px; color:#738662; font-weight:normal; line-height:20px; margin-top:49px;}
.gyjjg_lf h1 b{ font-size:18px; color:#f00;}
.gyjjg_pic{ float:left; height:120px; margin-right:15px;}
.gyjjg_rg{ overflow:hidden;}
.gyjjg_rg h2{ width:100%; float:left; font-size:16px; color:#5d9d4a; line-height:26px; margin:10px 0px 14px; font-weight:normal;}
.gyjjg_rg p{ width:100%; float:left; font-size:12px; color:#738662; line-height:25px;}
.gyjjg_rg p b{ font-size:16px;}
.gyjjg_rg p span{ width:140px; height:25px; line-height:25px; background:#56743c; display:inline-block; margin-left:10px; font-size:12px; color:#fff; text-align:center;}

.gyhheji{ width:980px; margin:auto; overflow:hidden; padding:15px 0px; border-bottom: #e0e6cf 1px dashed; font-family: "微软雅黑";}

.tlname {
    color: #5d9d4a;
    font-size: 15px;
    font-family: "微软雅黑";
}

.tlyname {
    color: #7f9063;
    font-size: 13px;
    font-family: "微软雅黑";
}

    .tlyname a {
        color: #7f9063;
        font-size: 13px;
        font-family: "微软雅黑";
        text-decoration: none;
    }

.jia {
    color: #35620e;
    line-height: 20px;
}

.number {
    float: left;
    font-size: 14px;
    line-height: 16px;
    color: #f58546;
    height: 16px;
    border: 1px solid #dae7c0;
    width: 38px;
    font-family: "微软雅黑";
    margin: 0px 5px;
    text-align: center;
}

.tlprice {
    color: #f58546;
    font-size: 13px;
    font-family: "微软雅黑";
}

    .tlprice span {
        color: #f00;
        font-size: 20px;
        font-family: "微软雅黑";
    }

.our {
    float: left;
    font-size: 12px;
    line-height: 18px;
    color: #70824f;
    text-decoration: none;
    height: 18px;
    border: 1px solid #889d76;
    font-family: "微软雅黑";
    width: 146px;
    padding-left: 5px;
}

.lipic img {
    width: 119px;
    height: 103px;
    padding: 2px;
    border: 1px solid #e7ebe4;
}

.yfpic img {
    width: 119px;
    height: 59px;
    padding: 2px;
    border: 1px solid #e7ebe4;
}

.qrnews {
    color: #529b3b;
    font-size: 13px;
    font-family: "微软雅黑";
    padding-left: 20px;
}

.wzcolor {
    color: #404040;
    font-size: 14px;
    font-family: "微软雅黑";
}

.telcolor {
    color: #808080;
    font-size: 13px;
    line-height: 22px;
    font-family: "微软雅黑";
}

.telcolor_1 {
    color: #808080;
    height: 22px;
    line-height: 22px;
    padding-bottom: 10px;
}

.street {
    color: #404040;
    font-size: 14px;
    font-family: "微软雅黑";
    padding-bottom: 35px;
}

.streetpic img {
    width: 6px;
    height: 6px;
    padding-bottom: 30px;
}

.qrfl {
    font-size: 12px;
    line-height: 22px;
    color: #404040;
    text-decoration: none;
    height: 24px;
    border: 1px solid #707070;
    width: 136px;
    font-family: "微软雅黑";
    margin: 0px 5px;
    margin-bottom: 7px;
}

.qrfl1 {
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    text-decoration: none;
    height: 48px;
    border: 1px solid #707070;
    font-family: "微软雅黑";
    width: 606px;
    margin: 0px 5px;
    margin-bottom: 5px;
}

.qrfl2 {
    font-size: 12px;
    line-height: 19px;
    color: #404040;
    text-decoration: none;
    height: 19px;
    border: 1px solid #707070;
    font-family: "微软雅黑";
    width: 202px;
    margin: 3px 5px;
}

.qrfl3 {
    float: left;
    font-size: 12px;
    line-height: 19px;
    color: #404040;
    text-decoration: none;
    height: 19px;
    border: 1px solid #707070;
    font-family: "微软雅黑";
    width: 46px;
    margin: 0px 5px;
    margin-bottom: 5px;
}

.qrfl4 {
    float: left;
    font-size: 12px;
    line-height: 19px;
    color: #404040;
    text-decoration: none;
    height: 19px;
    border: 1px solid #707070;
    font-family: "微软雅黑";
    width: 70px;
    margin: 0px 5px;
    margin-bottom: 5px;
}

.qrfl5 {
    float: left;
    font-size: 12px;
    line-height: 19px;
    color: #404040;
    text-decoration: none;
    height: 19px;
    border: 1px solid #707070;
    font-family: "微软雅黑";
    width: 128px;
    margin: 0px 5px;
    margin-bottom: 5px;
    margin-left: 12px;
}
.xxdz_ts{font-size:12px; color:#fa9900; float:left; margin:0px 0px 5px 5px; font-family:"Microsoft YaHei";}


.ztcolor {
    color: #808080;
    font-size: 13px;
    font-family: "微软雅黑";
    padding-left: 30px;
}

.vklcolor {
    height: 58px;
    color: #808080;
    font-size: 13px;
    font-family: "微软雅黑";
    border-top: 1px dashed #e0e6cf;
    padding-left: 30px;
}

.psfl {
    font-size: 12px;
    line-height: 18px;
    color: #707070;
    text-decoration: none;
    border: 1px solid #889d76;
    font-family: "微软雅黑";
    width: 94px;
    margin-bottom: 5px;
}

.gytime {
    color: #fa9900;
    font-size: 12px;
    font-family: "微软雅黑";
}

/*购物车增加样式*/
.cart-item-count {
    width: 75px;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}

    .cart-item-count dd {
        float: left;
        list-style: none;
        padding: 0px;
        margin: 0px;
        height: 20px;
    }

        .cart-item-count dd.l, .cart-item-count dd.r {
            width: 15px;
        }

            .cart-item-count dd.l a {
                background: url(images/delete.png) no-repeat center;
                display: block;
                width: 15px;
                height: 20px;
                margin: auto;
            }

            .cart-item-count dd.r a {
                background: url(images/add.png) no-repeat center;
                display: block;
                width: 15px;
                height: 20px;
                margin: auto;
            }

        .cart-item-count dd.c {
            width: 45px;
            text-align: center;
        }

            .cart-item-count dd.c input {
                width: 35px;
                border: 1px solid #a0bb6a;
                text-align: center;
                margin: auto;
                color: #a0bb6a;
            }

input.cake-text {
    width: 96px;
    font-size: 12px;
    border: 1px solid #a0bb6a;
    padding: 0px 3px 0px 3px;
    color: #a0bb6a;
}

.cart-cake-spec {
    padding:7px 0px;
    line-height: 22px;
    display: block;
    font-size: 12px;
    color: #666666;
}

.cart-delete {
    font-size: 12px;
    text-decoration: none;
    color: #666666;
    /*padding-left: 18px;
    background: url(images/cart-delete.png) no-repeat left center;*/
}

.cart-add {
    font-size: 12px;
    text-decoration: none;
    color: #666666;
    padding-left: 15px;
    background: url(images/add2.png) no-repeat left center;
}

.cake-optional-item {
    width: 380px;
    height: 60px;
    float: left;
    padding: 5px 84px 5px 25px;
}
.cake-optional-item-right {
    float: right;
    padding: 5px 25px 5px 84px;
}

/*地址设置页，日期和时间选择面板*/
#datePanel, #timePanel {
    position: absolute;
    background-color: #ffffff;
    border: 2px solid #a0bb6a;
    margin: 0px;
    padding: 2px;
    width: 500px;
    display:none;
}

    #datePanel dd, #timePanel dd {
        float: left;
        width: 100px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        list-style: none;
        padding: 0px;
        margin: 0px;
        list-style: none;
        cursor: pointer;
    }

        #datePanel dd:hover, #timePanel dd:hover {
            background-color: #e0e6cf;
        }

        #datePanel dd.disabled, #timePanel dd.disabled {
            color: #cccccc;
            cursor:not-allowed;
        }


tr.line td{
    border-bottom: #e0e6cf 1px dashed;
}

